<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <title>Currículo v2</title>
</head>
<body>
    <header><h1 class="title">Currículo v2</h1></header>

    <main>
        <h2 class="author">Lucas Grisa Caovilla</h2>
        <ul>
            <li>Desenvolvedor back-end Júnior</li>
        </ul>
        
        <h2>Formação acadêmica</h2>
        <ul>
            <li>Técnico em fabricação mecânica pelo IFRS campus Caxias do Sul(2022)</li>
        </ul>
        
        <h2>Experiência</h2>
        <ul>
            <li>Estagiário em engenharia na Hidroação Tecnologia</li>
            <li>Desenvolvedor front-end no projeto catraca 4.0 do IFRS Caxias do Sul</li>
        </ul>

        <h2 class="title">Tecnologias</h2>
        <table>
            <thead>
                <tr>
                    <th>Tecnologias</th>                    
                    <th>Tempo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Python</td>
                    <td>Desde novembro de 2022</td>
                </tr>
                
                <tr>
                    <td>Javascript</td>
                    <td>Desde janeiro de 2023</td>
                </tr>

                <tr>
                    <td>SQLite</td>
                    <td>Desde fevereiro de 2023</td>
                </tr>

            </tbody>
        </table>       
        <button>teste</button>
    </main>
    <script defer src="./js/script.js"></script>
</body>
<script defer src="{{ url_for('static', filename='js/script.js') }}"></script>
</html>